.field-container{
    margin-left: 20%;
    padding: 0 1rem;
    width:80%;
    height: 90vh;
    overflow-y: auto;
    background-color: rgb(247, 227, 202);
}

@media screen and (max-width:767px) {
    .field-container{
        margin-left: 40%;
        padding: 0.2rem;
        width: 60%;
    }
}